langchain
langchain-community
llama-index-llms-llama-cpp
langchain-text-splitters
langchain-huggingface
langchain_classic
langchain.prompts
sentence-transformers
chromadb
langchain_chroma
sentence-transformers
pypdf
transformers
numpy
rank_bm25
pandas